footer.footer
  .centered-container.footer__wrapper
    section.footer__top
      a.footer__top-logo(href='/', title='logo')
        img(src='../../assets/img/logo.png', alt='', width='100%', height='100%')

      //- NAV
      nav.footer-nav.footer__nav
        button#nav-link.nav__item.typography-navigation(type='button', data-href='#main') Main
        button#nav-link.nav__item.typography-navigation(type='button', data-href='#about') About
        button#nav-link.nav__item.typography-navigation(type='button', data-href='#features') Game Features
        button#nav-link.nav__item.typography-navigation(type='button', data-href='#system-req') System Requirements
        button#nav-link.nav__item.typography-navigation(type='button', data-href='#quotes') Quotes

      .footer__socials 
        a.footer__socials-item(href='/', title='facebook-link')
          img(src='../../assets/icons/facebook.svg', alt='facebook-icon')

        a.footer__socials-item(href='/', title='twiiter-link')
          img(src='../../assets/icons/twitter.svg', alt='twiiter-icon')

        a.footer__socials-item(href='/', title='youtube-link')
          img(src='../../assets/icons/youtube.svg', alt='youtube-icon')

        a.footer__socials-item(href='/', title='twitch-link')
          img(src='../../assets/icons/twitch.svg', alt='twitch-icon')

    section.footer__bottom
      p.footer__bottom-copyright © 2018 Outpost Games, Inc. All Rights Reserved

      .footer__bottom-documents.footer-documents
        a.footer-documents__item(href='#privacy') Privacy Policy
        a.footer-documents__item(href='#service') Terms of Services
        a.footer-documents__item(href='#conduct') Code of conduct
