section#features.features
  .centered-container.features__wrapper
    .features__info.features-info
      h3.features-info__subTitle.typography-h3 What’s so special?

      h3.features-info__primaryTitle.typography-h1 features

      .features-info_accordions
        // Each accordion item
        .accordion__item.animate__animated(data-animation='animate__fadeInRight')
          // Heading
          header.accordion__header
            .accordion__item-sign
            .accordion__title SURVIVE AT ALL COSTS

          // The content
          main.accordion__content
            p.accordion__content-text You have 30 minutes to find a relic, signal for extraction, and grab one of three spots on the rescue chopper.

        // Each accordion item
        .accordion__item.animate__animated.animate__delay-1s(data-animation='animate__fadeInRight')
          // Heading
          header.accordion__header
            .accordion__item-sign
            .accordion__title CREATE ALLIES AND ENEMIES

          // The content
          main.accordion__content
            p.accordion__content-text You have 30 minutes to find a relic, signal for extraction, and grab one of three spots on the rescue chopper.

        // Each accordion item
        .accordion__item.animate__animated.animate__delay-2s(data-animation='animate__fadeInRight')
          // Heading
          header.accordion__header
            .accordion__item-sign
            .accordion__title IMPRESS THE AUDIENCE

          // The content
          main.accordion__content
            p.accordion__content-text You have 30 minutes to find a relic, signal for extraction, and grab one of three spots on the rescue chopper.
