section#quotes.quotes
  .centered-container.quotes__wrapper
    .quotes__info.quotes-info
      h3.quotes-info__subTitle What people think?

      h3.quotes-info__primaryTitle Press quotes

      p.quotes-info__text Our goal is to create a product and service that you’re satisfied with and use it every day. This is why we’re constantly working on our services to make it better every day and really listen to what our users has to say.

      button.quotes-info__button.typography-button Read more testimonials

    .quotes__cards
      +quote-card({img: '../../assets/img/quotes-ava-1.jpg', fullname: 'Evan Lahti', role: 'PC Gamer', text: '“One of my gaming highlights of the year.”', date: 'October 18, 2018', animationClasses: 'animate__animated animated-scroll', dataAnimation: 'animate__fadeInUp'})

      +quote-card({img: '../../assets/img/quotes-ava-3.jpg', fullname: 'Jada Griffin', role: 'Nerdreactor', text: '“The next big thing in the world of streaming and survival games.”', date: 'December 21, 2018', animationClasses: 'animate__animated animate__delay-1s animated-scroll', dataAnimation: 'animate__fadeInUp'})

      +quote-card({ img: '../../assets/img/quotes-ava-2.jpg', fullname: 'Aaron Williams', role: 'Uproxx', text: '“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”', date: 'December 24, 2018', animationClasses: 'animate__animated animate__delay-2s animated-scroll', dataAnimation: 'animate__fadeInUp' })
