include /components/elements/_quote-card.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Game Landing Page
  body
    include /components/blocks/_header.pug
    include /components/blocks/_main.pug
    include /components/blocks/_about.pug
    include /components/blocks/_game-features.pug
    include /components/blocks/_system-req.pug
    include /components/blocks/_quotes.pug
    include /components/blocks/_newsletter.pug
    include /components/blocks/_footer.pug
