.gallery.animate__animated.animate__slow.animated-scroll.animate__slower(data-animation='animate__fadeIn')
  .swiper.mySwiper
    .swiper-wrapper
      .swiper-slide
        img(src=require('@images/about-gallery-1.jpg'), alt='slider photo')
      .swiper-slide
        img(src=require('@images/about-gallery-2.jpg'), alt='slider photo')
      .swiper-slide
        img(src=require('@images/about-gallery-3.jpg'), alt='slider photo')

  <!-- If we need pagination -->
  .gallery__pagination
    .swiper-pagination

  <!-- If we need navigation buttons -->
  .gallery__buttons
    .gallery__buttons-prev
      include /assets/icons/next-el-arrow.svg

    .gallery__buttons-next
      include /assets/icons/next-el-arrow.svg
