/* --- Шрифт по умолчанию --- */
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 18px;

/* --- Палитра цветов --- */
$white: #fff;
$gray: #979797;
$black-100: #1a1917;
$black-200: #080a0b;
$black-300: #0b0b03;
$black-400: #0f0f0f;
$black-500: #08090a;
$black-600: #000;
$red: #ff1313;
$orange-100: #ffb548;
$orange-200: #f3af34;

/* --- Палитра градиентов --- */
$orange-gradient: linear-gradient(194.68deg, $orange-100 11.27%, $orange-200 90.4%);
$background-gradient: radial-gradient(
  189.96% 61.18% at 50% 38.82%,
  rgba(255, 181, 72, 0) 0%,
  rgba(52, 44, 29, 0.80319) 73.22%,
  #08090a 99.74%
);

/* --- Настройки --- */
// Минимальная ширина страницы
$minWidth: 320;

// Высота хедера
$headerHeight: #{55 + 21 * 2};
// Ширина полотна (макета)
$maxWidth: 1920;

// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1200;

// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer;

// Размеры экранов
$pc: $containerWidth;
$bigTablet: 996.98;
$tablet: 767.98;
$mobileSmall: 576.98;

// Брейкпоинты
$lg: $pc + px;
$md: $bigTablet + px;
$sm: $tablet + px;
$xs: $mobileSmall + px;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;
